* {
  box-sizing: border-box;
}

html {
  font-family: Ubuntu, Arial, Helvetica, sans-serif;
  background-color: #fefcf6;
}

body {
  max-width: 960px;
  padding: 0.5rem;
  margin: auto;
  font-size: 1.2rem;
  line-height: 1.6;
}

li {
  line-height: 1.5;
}
